@mixin main ($percent) {
    width: $percent;
    text-align: center;
    margin: 0 auto;
    min-width: 200px;
    padding: 10px;
}

.container {
    height: 100vh;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    display: flex;
    width: 60%;
    min-height: 350px;
    justify-content: center;
    align-items: stretch;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    background: rgba(255,255,255,0.6);
}

.configurator {
    @include main(60%);
}

.view {
    @include main(40%);
}
