
.black{
    background-color: black;
    width: 1.5rem;
    height: 1.5rem;
    border: none;
    margin: .1rem .1rem .1rem .1rem;
    border-radius: 4px;
}

.red {
    background-color: red;
    width: 1.5rem;
    height: 1.5rem;
    border: none;
    margin: .1rem .1rem .1rem .1rem;
    border-radius: 4px;
}

.green {
    background-color: green;
    width: 1.5rem;
    height: 1.5rem;
    border: none;
    margin: .1rem .1rem .1rem .1rem;
    border-radius: 4px;
}

.blue {
    background-color: blue;
    width: 1.5rem;
    height: 1.5rem;
    border: none;
    margin: .1rem .1rem .1rem .1rem;
    border-radius: 4px;
}